*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /** para quitar los bordes de los lados**/
}

.contenedor{
    padding: 60px 0;
    /** Para que haya un espacio en las sesiones**/
    width: 90%;
    max-width: 1000px;
    margin: auto; /** Centre todo**/
    overflow: hidden; /** Si sale algo fuera del contenedor lo esconda**/
    justify-content: center;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px; /** para distinguir en contenido de las sesiones**/
}

header{
    width: 100%;
    height: 600px;
    background: #ad5389;  
    /* fallback for old browsers */
    background: linear-gradient(to right, #3b10537c, #ad538967), url(../Img/imagenP.png);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b105383, #ad538956), url(../Img/imagenP.png);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{ 
    color:#fff;
    font-weight: 300;
    text-decoration: none; /** le quita el subrayado del enlace**/
    margin-right: 13px;
    font-size: 25px;
}

nav > a:hover{ 
    text-decoration: underline; /** para cuando pasemos el maus aparesca subrayado**/
}

header .textos-header{
    display: flex;
    height: 430px;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;

}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-a{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3 span{
    background: #4d0686;
    color:#fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.galeria{
    background: #fff;
}
.titulo{
    padding-block: 45px;
    padding-bottom: 10px;
}
 
.imagenes {
    background-color: transparent;
}
  
.imagen1 {
    justify-content: center;
    width: 240px;
    height: 240px;
}

.servicio-com{
    background: #ffff;
    padding-bottom: 30px;
    
   
}

.servicio-ade{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ade{
    width: 100%;
    text-align: center;
}
.servicio-ade img{
    width: 90%;
}
.servicio-ade h3{
    margin: 20px;
}


footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.contenedor-ult{
    text-align: center;
}
.contenedor-ult h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.contenedor-ult p{
    color: #ccc;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9e9e
}

